.Parent {
    display: flex;
    padding: 20px;
}

.Parent .MainLeft {
    width: 70%;
    overflow: hidden;
    height: 100vh;
}

.Parent .MainRight {
    width: 30%;
    overflow: hidden;
}

@media(max-width:1300px) {

    .Parent {
        display: block;
        padding: 20px;
    }

    .Parent .MainLeft {
        width: 100%;
    }

    .Parent .MainRight {
        width: 100%;
    }
}