.Parent {
    display: flex;
}

.Parent .NavbarContent {
    width: 20%;
    height: 100vh;
    overflow: hidden;
}

.Parent .RestContent {
    width: 80%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
}

.RestContentFooter {
    position: fixed;
    bottom: 0px;
    background: #20232a;
    border-top: 1px solid #ccc;
    width: 100%;
    text-align: center;
    padding-block: 10px;
}

.Mobile {
    display: none;
}

@media(max-width:1100px) {
    .Mobile {
        display: initial;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .Parent {
        display: none;
    }
}